doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Profile
    style 
      include ../static/profile.css
  body 
    nav.navbar 
      div.logo
        h1.B B 
      div.Bechyu
        h1 Bechyu 
        p.fulfil fulfil your requirements
    h2 Profile
    div.box 
      div.box1
        div.img 
          img(src="../static/profile.jpg")
        h2.name #{Fill}
        h4 
          a(href="/logout") Log out 
      div.box2
        div.items 
          img(src="../static/profile.jpg")
          div.it 
            h4 Name
            h5.Name #{Fill1}
        hr
        div.items 
          img(src="../static/profile1.jpg")
          div.it 
            h4 User name
            h5.user #{Fill2}
        hr
        div.items 
          img(src="../static/email1.png")
          div.it 
            h4 Email
            h5.email #{Fill3}
        hr
        div.items 
          img(src="../static/phone.png")
          div.it 
            h4 Phone
            h5.phone #{Fill4}
        hr
    


